In [1]:
from sqlalchemy import create_engine, text
import pandas as pd 
import seaborn as sns
from matplotlib import pyplot as pyplot

In [2]:
database_name = "scooter"
connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

In [3]:
engine = create_engine(connection_string)

In [4]:
query = '''
SELECT *
FROM scooters
LIMIT 100;
''' 
with engine.connect() as connection:
    scooters = pd.read_sql(text(query), con = connection)

In [5]:
scooters.head()

,pubdatetime,latitude,longitude,sumdid,sumdtype,chargelevel,sumdgroup,costpermin,companyname
0,2019-05-01 00:01:41.247,36.136822,-86.799877,PoweredLIRL1,Powered,93.0,scooter,0.0,Bird
1,2019-05-01 00:01:41.247,36.191252,-86.772945,PoweredXWRWC,Powered,35.0,scooter,0.0,Bird
2,2019-05-01 00:01:41.247,36.144752,-86.806293,PoweredMEJEH,Powered,90.0,scooter,0.0,Bird
3,2019-05-01 00:01:41.247,36.162056,-86.774688,Powered1A7TC,Powered,88.0,scooter,0.0,Bird
4,2019-05-01 00:01:41.247,36.150973,-86.783109,Powered2TYEF,Powered,98.0,scooter,0.0,Bird

In [6]:
query = '''
SELECT *
FROM trips
LIMIT 100;
'''  
with engine.connect() as connection:
    trips = pd.read_sql(text(query), con = connection)

In [7]:
trips.head()

,pubtimestamp,companyname,triprecordnum,sumdid,tripduration,tripdistance,startdate,starttime,enddate,endtime,startlatitude,startlongitude,endlatitude,endlongitude,triproute,create_dt
0,2019-05-01 00:00:55.423,Bird,BRD2134,Powered9EAJL,3.0000,958.00528,2019-05-01,00:00:20.460000,2019-05-01,00:02:52.346666,36.15710,-86.80360,36.15660,-86.80670,"[(36.157235, -86.803612), (36.157235, -86.8036...",2019-05-02 05:30:23.780
1,2019-05-01 00:03:33.147,Lyft,LFT5,Powered296631,1.7156,1371.39112,2019-05-01,00:01:50.090000,2019-05-01,00:03:33.026666,36.15797,-86.77896,36.16054,-86.77689,"[(36.15797, -86.77896), (36.15795, -86.77873),...",2019-05-02 07:20:32.757
2,2019-05-01 00:05:55.570,Bird,BRD2168,Powered7S2UU,3.0000,2296.58800,2019-05-01,00:03:47.363333,2019-05-01,00:07:13.596666,36.15470,-86.78180,36.15650,-86.78680,"[(36.155068, -86.782124), (36.156597, -86.78675)]",2019-05-02 05:30:24.530
3,2019-05-01 00:05:55.570,Bird,BRD2166,PoweredZIIVX,3.0000,1200.78744,2019-05-01,00:04:21.386666,2019-05-01,00:06:59.176666,36.14940,-86.77950,36.15310,-86.77960,"[(36.149741, -86.779344), (36.149741, -86.7793...",2019-05-02 05:30:24.237
4,2019-05-01 00:05:55.570,Bird,BRD2165,PoweredJ7MB3,2.0000,351.04988,2019-05-01,00:04:27.796666,2019-05-01,00:06:23.150000,36.17780,-86.78660,36.17740,-86.78760,"[(36.177699, -86.786477), (36.177711, -86.7864...",2019-05-02 05:30:24.207

In [8]:
scooters.isna().any()

pubdatetime    False
latitude       False
longitude      False
sumdid         False
sumdtype       False
chargelevel    False
sumdgroup      False
costpermin     False
companyname    False
dtype: bool

In [9]:
query = '''
SELECT *
FROM scooters
WHERE chargelevel IS NULL
'''  
with engine.connect() as connection:
    nullValues = pd.read_sql(text(query), con = connection)

In [10]:
nullValues.head()

,pubdatetime,latitude,longitude,sumdid,sumdtype,chargelevel,sumdgroup,costpermin,companyname
0,2019-05-22 12:34:15.190,36.147647,-86.740524,Powered4233824,Powered,None,Scooter,0.23,Spin
1,2019-05-22 12:39:15.107,36.147647,-86.740524,Powered4233824,Powered,None,Scooter,0.23,Spin
2,2019-05-22 12:44:15.547,36.147647,-86.740524,Powered4233824,Powered,None,Scooter,0.23,Spin
3,2019-05-22 12:49:15.670,36.147647,-86.740524,Powered4233824,Powered,None,Scooter,0.23,Spin
4,2019-05-22 12:54:15.973,36.147647,-86.740524,Powered4233824,Powered,None,Scooter,0.23,Spin

In [11]:
nullValues

,pubdatetime,latitude,longitude,sumdid,sumdtype,chargelevel,sumdgroup,costpermin,companyname
0,2019-05-22 12:34:15.190,36.147647,-86.740524,Powered4233824,Powered,None,Scooter,0.23,Spin
1,2019-05-22 12:39:15.107,36.147647,-86.740524,Powered4233824,Powered,None,Scooter,0.23,Spin
2,2019-05-22 12:44:15.547,36.147647,-86.740524,Powered4233824,Powered,None,Scooter,0.23,Spin
3,2019-05-22 12:49:15.670,36.147647,-86.740524,Powered4233824,Powered,None,Scooter,0.23,Spin
4,2019-05-22 12:54:15.973,36.147647,-86.740524,Powered4233824,Powered,None,Scooter,0.23,Spin
...,...,...,...,...,...,...,...,...,...
765,2019-07-28 23:28:05.000,36.149802,-86.807646,Powered-55a7ac02-7e17-bb3b-130d-b160d9776405,Powered,None,Scooter,0.30,Bolt
766,2019-07-28 23:33:06.000,36.149802,-86.807646,Powered-55a7ac02-7e17-bb3b-130d-b160d9776405,Powered,None,Scooter,0.30,Bolt
767,2019-07-28 23:38:06.000,36.149802,-86.807646,Powered-55a7ac02-7e17-bb3b-130d-b160d9776405,Powered,None,Scooter,0.30,Bolt
768,2019-07-28 23:43:06.000,36.149802,-86.807646,Powered-55a7ac02-7e17-bb3b-130d-b160d9776405,Powered,None,Scooter,0.30,Bolt
769,2019-07-28 23:48:06.000,36.149802,-86.807646,Powered-55a7ac02-7e17-bb3b-130d-b160d9776405,Powered,None,Scooter,0.30,Bolt

In [12]:
query = '''
SELECT
    MAX(pubdatetime) - MIN(pubdatetime) AS range
    FROM scooters;
'''  
with engine.connect() as connection:
    daterangescooters = pd.read_sql(text(query), con = connection)

In [13]:
daterangescooters.head()

                    range
0 91 days 23:58:15.753000

In [14]:
query = '''
SELECT
    MAX(pubtimestamp) - MIN(pubtimestamp) AS range
    FROM trips;
'''  
with engine.connect() as connection:
    daterangetrips = pd.read_sql(text(query), con = connection)

In [15]:
daterangetrips.head()

                    range
0 92 days 07:03:04.577000

In [16]:
trips.isna().any()

pubtimestamp      False
companyname       False
triprecordnum     False
sumdid            False
tripduration      False
tripdistance      False
startdate         False
starttime         False
enddate           False
endtime           False
startlatitude     False
startlongitude    False
endlatitude       False
endlongitude      False
triproute         False
create_dt         False
dtype: bool

In [17]:
scooters['pubdatetime'] = pd.to_datetime(scooters['pubdatetime']) 
date_range = str(scooters['pubdatetime'].dt.date.min()) + ' to ' +str(scooters['pubdatetime'].dt.date.max())
print(date_range)

2019-05-01 to 2019-05-01

In [18]:
trips['pubtimestamp'] = pd.to_datetime(trips['pubtimestamp']) 
date_range = str(trips['pubtimestamp'].dt.date.min()) + ' to ' +str(trips['pubtimestamp'].dt.date.max())
print(date_range)

2019-05-01 to 2019-05-06

In [19]:
min_lat = scooters['latitude'].min()
max_lat = scooters['latitude'].max()
min_lon = scooters['longitude'].min()
max_lon = scooters['longitude'].max()
print(min_lat)
print(max_lat)
print(min_lon)
print(max_lon)

36.13573
36.191252
-86.820593
-86.750357

In [20]:
mergedScooters = pd.merge(scooters, trips, on=['companyname'], how='inner')
mergedScooters.head()

,pubdatetime,latitude,longitude,sumdid_x,sumdtype,chargelevel,sumdgroup,costpermin,companyname,pubtimestamp,...,startdate,starttime,enddate,endtime,startlatitude,startlongitude,endlatitude,endlongitude,triproute,create_dt
0,2019-05-01 00:01:41.247,36.136822,-86.799877,PoweredLIRL1,Powered,93.0,scooter,0.0,Bird,2019-05-01 00:00:55.423,...,2019-05-01,00:00:20.460000,2019-05-01,00:02:52.346666,36.1571,-86.8036,36.1566,-86.8067,"[(36.157235, -86.803612), (36.157235, -86.8036...",2019-05-02 05:30:23.780
1,2019-05-01 00:01:41.247,36.136822,-86.799877,PoweredLIRL1,Powered,93.0,scooter,0.0,Bird,2019-05-01 00:05:55.570,...,2019-05-01,00:03:47.363333,2019-05-01,00:07:13.596666,36.1547,-86.7818,36.1565,-86.7868,"[(36.155068, -86.782124), (36.156597, -86.78675)]",2019-05-02 05:30:24.530
2,2019-05-01 00:01:41.247,36.136822,-86.799877,PoweredLIRL1,Powered,93.0,scooter,0.0,Bird,2019-05-01 00:05:55.570,...,2019-05-01,00:04:21.386666,2019-05-01,00:06:59.176666,36.1494,-86.7795,36.1531,-86.7796,"[(36.149741, -86.779344), (36.149741, -86.7793...",2019-05-02 05:30:24.237
3,2019-05-01 00:01:41.247,36.136822,-86.799877,PoweredLIRL1,Powered,93.0,scooter,0.0,Bird,2019-05-01 00:05:55.570,...,2019-05-01,00:04:27.796666,2019-05-01,00:06:23.150000,36.1778,-86.7866,36.1774,-86.7876,"[(36.177699, -86.786477), (36.177711, -86.7864...",2019-05-02 05:30:24.207
4,2019-05-01 00:01:41.247,36.136822,-86.799877,PoweredLIRL1,Powered,93.0,scooter,0.0,Bird,2019-05-01 00:05:55.570,...,2019-05-01,00:03:56.546666,2019-05-01,00:06:45.786666,36.1544,-86.7862,36.1515,-86.7844,"[(36.154368, -86.785909), (36.151689, -86.7843...",2019-05-02 05:30:24.317

In [21]:
query = '''
SELECT
	CASE 
	WHEN companyname = 'Bird' THEN 'Bird'
		WHEN companyname = 'Bolt' THEN 'Bolt'
		WHEN companyname = 'Gotcha' THEN 'Gotcha'
		WHEN companyname = 'Jump' THEN 'Jump'
		WHEN companyname = 'Lime' THEN 'Lime'
		WHEN companyname = 'Lyft' THEN 'Lyft'
		WHEN companyname = 'Spin' THEN 'Spin'
		END AS company_name
 	,COUNT(companyname) AS num_of_scooters
FROM scooters
WHERE sumdgroup iLike 'scooter'
GROUP BY company_name
ORDER BY num_of_scooters DESC;
'''  
with engine.connect() as connection:
    scootertotalscompany = pd.read_sql(text(query), con = connection)

In [22]:
scootertotalscompany

  company_name  num_of_scooters
0         Jump         21835098
1         Lime         16497732
2         Bird         12251590
3         Lyft          9087043
4         Spin          5559573
5       Gotcha          4679280
6         Bolt          3477198

In [41]:
jump = pd.read_csv('../data/scooters_jump.csv')

In [42]:
jump.head()

,Unnamed: 0,pubdatetime,latitude,longitude,sumdid,sumdtype,chargelevel,sumdgroup,costpermin,companyname
0,0,2019-05-16 22:12:12,36.1200,-86.7533,Powered6f889e9e-4b1e-56a7-88aa-9a17e61880b9,Powered,0.0,scooter,0.0,Jump
1,1,2019-05-16 22:12:12,36.1200,-86.7533,Powered3a59100e-f513-52c4-841a-48bc911d66fd,Powered,0.0,scooter,0.0,Jump
2,2,2019-05-16 22:12:12,36.1198,-86.7534,Powered1d9fcc46-84f8-57a9-b9fe-b06349acbb05,Powered,0.0,scooter,0.0,Jump
3,3,2019-05-16 22:12:12,36.1198,-86.7531,Powered0ee69eef-dfc0-574a-9cd9-d21fc6360ec5,Powered,0.0,scooter,0.0,Jump
4,4,2019-05-16 22:12:12,36.1199,-86.7534,Poweredb352730c-ecb6-57ad-a491-f8819be313b8,Powered,0.0,scooter,0.0,Jump

In [45]:
trips = pd.read_csv('../data/trips.csv')

In [46]:
trips.head()

,Unnamed: 0,pubtimestamp,companyname,triprecordnum,sumdid,tripduration,tripdistance,startdate,starttime,enddate,endtime,startlatitude,startlongitude,endlatitude,endlongitude,triproute,create_dt
0,0,2019-05-01 00:00:55.423,Bird,BRD2134,Powered9EAJL,3.0000,958.00528,2019-05-01,00:00:20.460000,2019-05-01,00:02:52.346666,36.15710,-86.80360,36.15660,-86.80670,"[(36.157235, -86.803612), (36.157235, -86.8036...",2019-05-02 05:30:23.780
1,1,2019-05-01 00:03:33.147,Lyft,LFT5,Powered296631,1.7156,1371.39112,2019-05-01,00:01:50.090000,2019-05-01,00:03:33.026666,36.15797,-86.77896,36.16054,-86.77689,"[(36.15797, -86.77896), (36.15795, -86.77873),...",2019-05-02 07:20:32.757
2,2,2019-05-01 00:05:55.570,Bird,BRD2168,Powered7S2UU,3.0000,2296.58800,2019-05-01,00:03:47.363333,2019-05-01,00:07:13.596666,36.15470,-86.78180,36.15650,-86.78680,"[(36.155068, -86.782124), (36.156597, -86.78675)]",2019-05-02 05:30:24.530
3,3,2019-05-01 00:05:55.570,Bird,BRD2166,PoweredZIIVX,3.0000,1200.78744,2019-05-01,00:04:21.386666,2019-05-01,00:06:59.176666,36.14940,-86.77950,36.15310,-86.77960,"[(36.149741, -86.779344), (36.149741, -86.7793...",2019-05-02 05:30:24.237
4,4,2019-05-01 00:05:55.570,Bird,BRD2165,PoweredJ7MB3,2.0000,351.04988,2019-05-01,00:04:27.796666,2019-05-01,00:06:23.150000,36.17780,-86.78660,36.17740,-86.78760,"[(36.177699, -86.786477), (36.177711, -86.7864...",2019-05-02 05:30:24.207

In [52]:
jump['pubdatetime'] = pd.to_datetime(jump['pubdatetime'])#, format = '%Y/%m/%d %I:%M:%S.%f')

In [54]:
jump.dtypes

Unnamed: 0              int64
pubdatetime    datetime64[ns]
latitude              float64
longitude             float64
sumdid                 object
sumdtype               object
chargelevel           float64
sumdgroup              object
costpermin            float64
companyname            object
dtype: object

In [55]:
trips['pubtimestamp'] = pd.to_datetime(trips['pubtimestamp'])#, format = '%Y/%m/%d %I:%M:%S.%f')

In [56]:
trips.dtypes

Unnamed: 0                 int64
pubtimestamp      datetime64[ns]
companyname               object
triprecordnum             object
sumdid                    object
tripduration             float64
tripdistance             float64
startdate                 object
starttime                 object
enddate                   object
endtime                   object
startlatitude            float64
startlongitude           float64
endlatitude              float64
endlongitude             float64
triproute                 object
create_dt                 object
dtype: object

In [57]:
(trips.assign(month = trips['pubtimestamp'].dt.month_name())
.month
.value_counts(sort=False)
)

month
May       224503
July      134960
June      205981
August        78
Name: count, dtype: int64

In [76]:
avg_trips = trips.groupby(['sumdid', 'triprecordnum']).mean()

TypeError: agg function failed [how->mean,dtype->object]

In [72]:
avg_trips

NameError: name 'avg_trips' is not defined

In [69]:
(trips.assign(date = trips['pubtimestamp'].dt.date)
.groupby(['date'])
['triprecordnum']
.count()
.reset_index()
.head(31)
)

          date  triprecordnum
0   2019-05-01           2206
1   2019-05-02           6523
2   2019-05-03           7274
3   2019-05-04          10629
4   2019-05-05           8084
5   2019-05-06           6577
6   2019-05-07           5783
7   2019-05-08           5292
8   2019-05-09           4312
9   2019-05-10           6529
10  2019-05-11           7810
11  2019-05-12           7355
12  2019-05-13           5208
13  2019-05-14           5296
14  2019-05-15           4303
15  2019-05-16           4556
16  2019-05-17          10932
17  2019-05-18          12719
18  2019-05-19           9493
19  2019-05-20           6083
20  2019-05-21           4748
21  2019-05-22           5071
22  2019-05-23           5678
23  2019-05-24           8882
24  2019-05-25          14771
25  2019-05-26          15084
26  2019-05-27          10075
27  2019-05-28           5740
28  2019-05-29           4515
29  2019-05-30           5306
30  2019-05-31           7669

In [58]:
trips.head()

,Unnamed: 0,pubtimestamp,companyname,triprecordnum,sumdid,tripduration,tripdistance,startdate,starttime,enddate,endtime,startlatitude,startlongitude,endlatitude,endlongitude,triproute,create_dt
0,0,2019-05-01 00:00:55.423,Bird,BRD2134,Powered9EAJL,3.0000,958.00528,2019-05-01,00:00:20.460000,2019-05-01,00:02:52.346666,36.15710,-86.80360,36.15660,-86.80670,"[(36.157235, -86.803612), (36.157235, -86.8036...",2019-05-02 05:30:23.780
1,1,2019-05-01 00:03:33.147,Lyft,LFT5,Powered296631,1.7156,1371.39112,2019-05-01,00:01:50.090000,2019-05-01,00:03:33.026666,36.15797,-86.77896,36.16054,-86.77689,"[(36.15797, -86.77896), (36.15795, -86.77873),...",2019-05-02 07:20:32.757
2,2,2019-05-01 00:05:55.570,Bird,BRD2168,Powered7S2UU,3.0000,2296.58800,2019-05-01,00:03:47.363333,2019-05-01,00:07:13.596666,36.15470,-86.78180,36.15650,-86.78680,"[(36.155068, -86.782124), (36.156597, -86.78675)]",2019-05-02 05:30:24.530
3,3,2019-05-01 00:05:55.570,Bird,BRD2166,PoweredZIIVX,3.0000,1200.78744,2019-05-01,00:04:21.386666,2019-05-01,00:06:59.176666,36.14940,-86.77950,36.15310,-86.77960,"[(36.149741, -86.779344), (36.149741, -86.7793...",2019-05-02 05:30:24.237
4,4,2019-05-01 00:05:55.570,Bird,BRD2165,PoweredJ7MB3,2.0000,351.04988,2019-05-01,00:04:27.796666,2019-05-01,00:06:23.150000,36.17780,-86.78660,36.17740,-86.78760,"[(36.177699, -86.786477), (36.177711, -86.7864...",2019-05-02 05:30:24.207