In [1]:
from sqlalchemy import create_engine, text
import pandas as pd 
import datetime as dt
import seaborn as sns
from matplotlib import pyplot as pyplot

In [2]:
database_name = "scooter"
connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

In [3]:
engine = create_engine(connection_string)

In [4]:
bird = pd.read_csv('../data/scooters_bird.csv')
bolt = pd.read_csv('../data/scooters_bolt.csv')
gotcha = pd.read_csv('../data/scooters_gotcha.csv')
jump = pd.read_csv('../data/scooters_jump.csv')
lime = pd.read_csv('../data/scooters_lime.csv')
lyft = pd.read_csv('../data/scooters_lyft.csv')
spin = pd.read_csv('../data/scooters_spin.csv')
trips = pd.read_csv('../data/trips.csv')
# scooters_may = pd.read_csv('../data/scooters_may.csv')
# scooters_june = pd.read_csv('../data/scooters_june.csv')
# scooters_july = pd.read_csv('../data/scooters_july.csv')

In [5]:
#converting columns to datetime & timedelta so they can be combined
trips["startdate"] = pd.to_datetime(trips["startdate"])
trips["starttime"] = pd.to_timedelta(trips["starttime"])

EQ1: Are there any null values in any columns in either table?

In [6]:
# Use "company.info(verbose=True, show_counts=True)" to investicage shapes of parsed data

print("---BIRD INFO---")
print(bird.info(verbose=True, show_counts=True))
print("---BOLT INFO---")
print(bolt.info(verbose=True, show_counts=True))
print("---GOTCHA INFO---")
print(gotcha.info(verbose=True, show_counts=True))
print("---JUMP INFO---")
print(jump.info(verbose=True, show_counts=True))
print("---LYFT INFO---")
print(lyft.info(verbose=True, show_counts=True))
print("---SPIN INFO---")
print(spin.info(verbose=True, show_counts=True))

## charge level: Bolt, Spin

---BIRD INFO---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12251590 entries, 0 to 12251589
Data columns (total 10 columns):
 #   Column       Non-Null Count     Dtype
---  ------       --------------     -----
 0   Unnamed: 0   12251590 non-null  int64
 1   pubdatetime  12251590 non-null  object
 2   latitude     12251590 non-null  float64
 3   longitude    12251590 non-null  float64
 4   sumdid       12251590 non-null  object
 5   sumdtype     12251590 non-null  object
 6   chargelevel  12251590 non-null  float64
 7   sumdgroup    12251590 non-null  object
 8   costpermin   12251590 non-null  float64
 9   companyname  12251590 non-null  object
dtypes: float64(4), int64(1), object(5)
memory usage: 934.7+ MB
None
---BOLT INFO---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3477198 entries, 0 to 3477197
Data columns (total 10 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   Unnamed: 0   3477198 non-null  int64
 1   pubdatetime  3477198 non-null  object
 2   latitude     3477198 non-null  float64
 3   longitude    3477198 non-null  float64
 4   sumdid       3477198 non-null  object
 5   sumdtype     3477198 non-null  object
 6   chargelevel  3476711 non-null  float64
 7   sumdgroup    3477198 non-null  object
 8   costpermin   3477198 non-null  float64
 9   companyname  3477198 non-null  object
dtypes: float64(4), int64(1), object(5)
memory usage: 265.3+ MB
None
---GOTCHA INFO---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4679280 entries, 0 to 4679279
Data columns (total 10 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   Unnamed: 0   4679280 non-null  int64
 1   pubdatetime  4679280 non-null  object
 2   latitude     4679280 non-null  float64
 3   longitude    4679280 non-null  float64
 4   sumdid       4679280 non-null  object
 5   sumdtype     4679280 non-null  object
 6   chargelevel  4679280 non-null  float64
 7   sumdgroup    4679280 non-null  object
 8   costpermin   4679280 non-null  float64
 9   companyname  4679280 non-null  object
dtypes: float64(4), int64(1), object(5)
memory usage: 357.0+ MB
None
---JUMP INFO---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21835098 entries, 0 to 21835097
Data columns (total 10 columns):
 #   Column       Non-Null Count     Dtype
---  ------       --------------     -----
 0   Unnamed: 0   21835098 non-null  int64
 1   pubdatetime  21835098 non-null  object
 2   latitude     21835098 non-null  float64
 3   longitude    21835098 non-null  float64
 4   sumdid       21835098 non-null  object
 5   sumdtype     21835098 non-null  object
 6   chargelevel  21835098 non-null  float64
 7   sumdgroup    21835098 non-null  object
 8   costpermin   21835098 non-null  float64
 9   companyname  21835098 non-null  object
dtypes: float64(4), int64(1), object(5)
memory usage: 1.6+ GB
None
---LYFT INFO---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9087043 entries, 0 to 9087042
Data columns (total 10 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   Unnamed: 0   9087043 non-null  int64
 1   pubdatetime  9087043 non-null  object
 2   latitude     9087043 non-null  float64
 3   longitude    9087043 non-null  float64
 4   sumdid       9087043 non-null  object
 5   sumdtype     9087043 non-null  object
 6   chargelevel  9087043 non-null  float64
 7   sumdgroup    9087043 non-null  object
 8   costpermin   9087043 non-null  float64
 9   companyname  9087043 non-null  object
dtypes: float64(4), int64(1), object(5)
memory usage: 693.3+ MB
None
---SPIN INFO---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5559573 entries, 0 to 5559572
Data columns (total 10 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   Unnamed: 0   5559573 non-null  int64
 1   pubdatetime  5559573 non-null  object
 2   latitude     5559573 non-null  float64
 3   longitude    5559573 non-null  float64
 4   sumdid       5559573 non-null  object
 5   sumdtype     5559573 non-null  object
 6   chargelevel  5559290 non-null  float64
 7   sumdgroup    5559573 non-null  object
 8   costpermin   5559573 non-null  float64
 9   companyname  5559573 non-null  object
dtypes: float64(4), int64(1), object(5)
memory usage: 424.2+ MB
None

EA1. Bolt and Spin have missing some missing values in the chargelevel column

EQ2. What date range is represented in each of the date columns? Investigate any values that seem odd.

In [7]:
# What date range is represented in each of the date columns? Investigate any values that seem odd.

#scooters - pubdatetime
scooters_date_query = '''SELECT pubdatetime FROM scooters'''
#trips - pubtimestamp, startdate, starttime, enddate, endtime, create_dt
trips_date_query = '''SELECT pubtimestamp, startdate, starttime, enddate, endtime, create_dt FROM trips'''

with engine.connect() as connection:
    scoot_dates = pd.read_sql(text(scooters_date_query), con = connection)
    trip_dates = pd.read_sql(text(trips_date_query), con = connection)

In [8]:
#scooter dates
#earliest
scootfirstdate = scoot_dates.min()
#latest
scootlastdate = scoot_dates.max()
#range
scootrange = scootlastdate - scootfirstdate

#trips dates
#earliest
trippubfirst = trip_dates.pubtimestamp.min()
tripstartfirst = trip_dates.startdate.min()
tripendfirst = trip_dates.enddate.min()
tripcratefirst = trip_dates.create_dt.min()
#latest dates
trippublast = trip_dates.pubtimestamp.max()
tripstartlast  = trip_dates.startdate.max()
tripendlast  = trip_dates.enddate.max()
tripcratelast  = trip_dates.create_dt.max()

#date ranges
trippubrange = trippublast - trippubfirst
tripstartrange  = tripstartlast - tripstartfirst
tripendrange  = tripendlast - tripendfirst
tripcraterange  = tripcratelast - tripcratefirst

In [9]:
print('scooter table date ranges')
print('scooter - pubdatetime - earliest: ' + str(scootfirstdate))
#latest
print('scooter - pubdatetime - latest: ' + str(scootlastdate))
#range
print('scooter - pubdatetime - range: ' + str(scootrange))

print('trips table date ranges')
#earliest
print('trips - pubdatetime - earliest: ' + str(trippubfirst))
print('trips - starttime - earliest: ' + str(tripstartfirst))
print('trips - endtime - earliest: ' + str(tripendfirst))
print('trips - create time - earliest: ' + str(tripcratefirst))

#latest dates
print('trips - pubdatetime - latest: ' + str(trippublast))
print('trips - starttime - latest: ' + str(tripstartlast))
print('trips - endtime - latest: ' + str(tripendlast))
print('trips - create time - latest: ' + str(tripcratelast))

#date ranges
print('trips - pubdatetime - range: ' + str(trippubrange))
print('trips - starttime - range: ' + str(tripstartrange))
print('trips - endtime - range: ' + str(tripendrange))
print('trips - create time - range: ' + str(tripcraterange))

scooter table date ranges
scooter - pubdatetime - earliest: pubdatetime   2019-05-01 00:01:41.247
dtype: datetime64[ns]
scooter - pubdatetime - latest: pubdatetime   2019-07-31 23:59:57
dtype: datetime64[ns]
scooter - pubdatetime - range: pubdatetime   91 days 23:58:15.753000
dtype: timedelta64[ns]
trips table date ranges
trips - pubdatetime - earliest: 2019-05-01 00:00:55.423000
trips - starttime - earliest: 2019-05-01
trips - endtime - earliest: 2019-05-01
trips - create time - earliest: 2019-05-02 05:30:23.780000
trips - pubdatetime - latest: 2019-08-01 07:04:00
trips - starttime - latest: 2019-07-31
trips - endtime - latest: 2019-08-01
trips - create time - latest: 2019-08-02 11:30:29.923000
trips - pubdatetime - range: 92 days 07:03:04.577000
trips - starttime - range: 91 days, 0:00:00
trips - endtime - range: 92 days, 0:00:00
trips - create time - range: 92 days 06:00:06.143000

Some fields are date only and format varies. Date range is from May 1, 2019 to July 31, 2019.

EQ3. Is time represented with am/pm or using 24 hour values in each of the columns that include time?

In [10]:
#investigate max dates
scoot_dates.pubdatetime.max()

Timestamp('2019-07-31 23:59:57')

In [11]:
trip_dates.starttime.max()

datetime.time(23, 59, 59, 506666)

Time is represented in 24 hour values: I%:M%:S%:f%

EQ4. What values are there in the sumdgroup column? Are there any that are not of interest for this project?

In [12]:
# What values are there in the sumdgroup column? Are there any that are not of interest for this project?
sumd_query = '''SELECT DISTINCT sumdgroup FROM scooters'''
with engine.connect() as connection:
    sumd_result = pd.read_sql(text(sumd_query), con = connection)
sumd_result

  sumdgroup
0   bicycle
1   scooter
2   Scooter

In [13]:
# find bicycles 

bicycle_query = '''SELECT DISTINCT sumdid, companyname FROM scooters WHERE sumdgroup = 'bicycle';'''
with engine.connect() as connection:
    bikes = pd.read_sql(text(bicycle_query), con = connection)
bikes

                  sumdid companyname
0  Standard2UGJKREVB53HT        Lime
1  Standard5JXOV277MCWID        Lime
2  StandardNPOOZNUSGAXZN        Lime
3  StandardNUTLLXP4G37OI        Lime
4  StandardNW5HJFO4R32LY        Lime
5  StandardZPUQESHVPP74J        Lime

In [14]:
print(bikes.count())

sumdid         6
companyname    6
dtype: int64

EA4. The dataset contiains entires for six Lime bicycles; these entries should be omitted from scooter analysis

EQ5. What are the minimum and maximum values for all the latitude and longitude columns? Do these ranges make sense, or is there anything surprising?

In [15]:
# What are the minimum and maximum values for all the latitude and longitude columns? Do these ranges make sense, or is there anything surprising? -What is the range of values for trip duration and trip distance? Do these values make sense? Explore values that might seem questionable.

sll_query = '''SELECT
                MIN(latitude) as min_latitude,
                MAX(latitude) as max_latitude,
                MIN(longitude) as min_longitude,
                MAX(latitude) as max_longitude
            FROM scooters'''
            
tll_query = '''SELECT
                MIN(startlatitude) as min_latitude_start,
                MAX(startlatitude) as max_latitude_start,
                MIN(startlongitude) as min_longitude_start,
                MAX(startlongitude) as max_longitude_start,
                MIN(endlatitude) as min_latitude_end,
                MAX(endlatitude) as max_latitude_end,
                MIN(endlongitude) as min_longitude_end,
                MAX(endlongitude) as max_longitude_end
            FROM trips'''

with engine.connect() as connection:
    scoot_result = pd.read_sql(text(sll_query), con = connection)
    trip_result = pd.read_sql(text(tll_query), con = connection)

In [16]:
scoot_result

   min_latitude  max_latitude  min_longitude  max_longitude
0           0.0  3.609874e+06     -97.443879   3.609874e+06

In [17]:
trip_result

,min_latitude_start,max_latitude_start,min_longitude_start,max_longitude_start,min_latitude_end,max_latitude_end,min_longitude_end,max_longitude_end
0,35.8532,36.300029,-86.918008,-86.3662,-36.850405,51.045409,-122.673729,174.764886

EA5. The scooters table has a minimum latitude value of 0.0. Latitude and longitude are expressed in defferent formats in the scooters and trips tables.

EQ6. Check out how the values for the company name column in the scooters table compare to those of the trips table. What do you notice?

In [18]:
# Check out how the values for the company name column in the scooters table compare to those of the trips table. What do you notice?
scooter_companies = '''SELECT DISTINCT companyname FROM scooters'''
trips_companies = ''' SELECT DISTINCT companyname FROM trips'''

with engine.connect() as connection:
    scompanies = pd.read_sql(text(scooter_companies), con = connection)
    tcompanies = pd.read_sql(text(trips_companies), con = connection)

In [19]:
scompanies.companyname.tolist()

['Bird', 'Bolt', 'Gotcha', 'Jump', 'Lime', 'Lyft', 'Spin']

In [20]:
tcompanies.companyname.tolist()

['Bird', 'Bolt Mobility', 'Gotcha', 'JUMP', 'Lime', 'Lyft', 'SPIN']

EA6. The same companies are present in the scooters and trips tables, however there are some variations in capitalization. Scooters contains company name "Bolt"; trips contains company name "Bolt Mobility"

Scooters: ['Bird', 'Bolt', 'Gotcha', 'Jump', 'Lime', 'Lyft', 'Spin']

Trips: ['Bird', 'Bolt Mobility', 'Gotcha', 'JUMP', 'Lime', 'Lyft', 'SPIN']

# During this period, seven companies offered scooters. How many scooters did each company have in this time frame? Did the number for each company change over time? Did scooter usage vary by company?

In [21]:
query = '''
SELECT companyname, count(DISTINCT(sumdid))
FROM scooters
WHERE sumdgroup NOT LIKE 'bicycle'
GROUP BY companyname
'''

with engine.connect() as connection:
    cc_distinctsumdid = pd.read_sql(text(query), con = connection)

In [22]:
cc_distinctsumdid.sort_values('count', ascending=False)

  companyname  count
0        Bird   3860
4        Lime   1818
5        Lyft   1735
3        Jump   1210
6        Spin    805
1        Bolt    360
2      Gotcha    224

In [23]:
#Did the number for each company change over time?
query = '''SELECT companyname, COUNT(DISTINCT(sumdid)), concat(EXTRACT(Year from pubdatetime),'-',EXTRACT(Month from pubdatetime), '-', EXTRACT(Day from pubdatetime)) AS date
            FROM scooters
            WHERE sumdgroup NOT LIKE 'bicycle'
            GROUP BY companyname, date;'''
with engine.connect() as connection:
    scooters_over_time = pd.read_sql(text(query), con = connection)
    
scooters_over_time.date = pd.to_datetime(scooters_over_time.date, format = 'Y%-%m-%d')
    
scooters_over_time.sort_values('date', ascending=True)

ValueError: '-' is a bad directive in format 'Y%-%m-%d'

In [24]:
scooters_over_time.sort_values('date', ascending=True).reset_index()

     index companyname  count       date
0        0        Bird   1545   2019-5-1
1      316        Lime   1116   2019-5-1
2      158      Gotcha    148   2019-5-1
3      408        Lyft    674   2019-5-1
4      409        Lyft    603  2019-5-10
..     ...         ...    ...        ...
573     88        Bird   1390   2019-7-9
574    315        Jump   1144   2019-7-9
575    499        Lyft    480   2019-7-9
576    407        Lime    439   2019-7-9
577    577        Spin    406   2019-7-9

[578 rows x 4 columns]

# According to Second Substitute Bill BL2018-1202 (as amended) (https://web.archive.org/web/20181019234657/https://www.nashville.gov/Metro-Clerk/Legislative/Ordinances/Details/7d2cf076-b12c-4645-a118-b530577c5ee8/2015-2019/BL2018-1202.aspx), all permitted operators will first clean data before providing or reporting data to Metro. Data processing and cleaning shall include:
Removal of staff servicing and test trips
Removal of trips below one minute
Trip lengths are capped at 24 hours
Are the scooter companies in compliance with the second and third part of this rule?

In [25]:
trips.head()

,pubtimestamp,companyname,triprecordnum,sumdid,tripduration,tripdistance,startdate,starttime,enddate,endtime,startlatitude,startlongitude,endlatitude,endlongitude,triproute,create_dt
0,2019-05-01 00:00:55.423,Bird,BRD2134,Powered9EAJL,3.0000,958.00528,2019-05-01,0 days 00:00:20.460000,2019-05-01,00:02:52.346666,36.15710,-86.80360,36.15660,-86.80670,"[(36.157235, -86.803612), (36.157235, -86.8036...",2019-05-02 05:30:23.780
1,2019-05-01 00:03:33.147,Lyft,LFT5,Powered296631,1.7156,1371.39112,2019-05-01,0 days 00:01:50.090000,2019-05-01,00:03:33.026666,36.15797,-86.77896,36.16054,-86.77689,"[(36.15797, -86.77896), (36.15795, -86.77873),...",2019-05-02 07:20:32.757
2,2019-05-01 00:05:55.570,Bird,BRD2168,Powered7S2UU,3.0000,2296.58800,2019-05-01,0 days 00:03:47.363333,2019-05-01,00:07:13.596666,36.15470,-86.78180,36.15650,-86.78680,"[(36.155068, -86.782124), (36.156597, -86.78675)]",2019-05-02 05:30:24.530
3,2019-05-01 00:05:55.570,Bird,BRD2166,PoweredZIIVX,3.0000,1200.78744,2019-05-01,0 days 00:04:21.386666,2019-05-01,00:06:59.176666,36.14940,-86.77950,36.15310,-86.77960,"[(36.149741, -86.779344), (36.149741, -86.7793...",2019-05-02 05:30:24.237
4,2019-05-01 00:05:55.570,Bird,BRD2165,PoweredJ7MB3,2.0000,351.04988,2019-05-01,0 days 00:04:27.796666,2019-05-01,00:06:23.150000,36.17780,-86.78660,36.17740,-86.78760,"[(36.177699, -86.786477), (36.177711, -86.7864...",2019-05-02 05:30:24.207

In [26]:
print(trips.tripduration.min())
print(trips.tripduration.max())

-19.3582666667
512619.0

In [27]:
sub1 = trips[trips.tripduration < 1]
sub1.shape

(9154, 16)

In [28]:
over24 = trips[trips.tripduration > 1440]
over24.shape

(6938, 16)

In [29]:
trips.dtypes

pubtimestamp               object
companyname                object
triprecordnum              object
sumdid                     object
tripduration              float64
tripdistance              float64
startdate          datetime64[ns]
starttime         timedelta64[ns]
enddate                    object
endtime                    object
startlatitude             float64
startlongitude            float64
endlatitude               float64
endlongitude              float64
triproute                  object
create_dt                  object
dtype: object

In [35]:
#transform data

trips.pubtimestamp = pd.to_datetime(trips.pubtimestamp)
##trips.startdate = pd.to_datetime(trips.startdate)
##trips.starttime = pd.to_datetime(trips.starttime, format = '%I:%M:%S.%f')
trips.enddate = pd.to_datetime(trips.enddate)
trips.endtime = pd.to_datetime(trips.endtime)

#combine datetimes to new columns and convert to datetime objects

trips['tripstart'] = trips['startdate'] + ' ' + trips['starttime'].dt.strftime('%H:%M:%S')
trips['tripend'] = trips['enddate'].dt.strftime('%Y-%m-%d') + ' ' + trips['endtime'].dt.strftime('%H:%M:%S')

# trips['tripstart'] = str(trips['startdate']) + ' ' + trips['starttime']
# trips['tripend'] = trips['enddate'] + ' ' + trips['endtime']

trips.tripstart = pd.to_datetime(trips.tripstart)
trips.tripend = pd.to_datetime(trips.tripend)

print(trips.dtypes)

TypeError: unsupported operand type(s) for +: 'DatetimeArray' and 'str'

In [ ]:
trips.dtypes

In [ ]:
trips.head()

In [ ]:
#calculate trip durations
trips['duration_full'] = trips['tripend'] - trips['tripstart']
trips.dtypes
trips['trip_minutes'] = trips.duration_full / dt.timedelta(minutes=1)

In [ ]:
#define compliance variables

#Trips Less Than One Minute
trips_sub1min = trips[trips['trip_minutes'] < 1]
print(trips_sub1min.info())

#Trips Greater than 24 Hours
trips_over24h = trips[trips['trip_minutes'] > 1440]
print(trips_over24h.info())

#Noncompliant Trips
trips_noncompliant = trips_sub1min._append(trips_over24h, ignore_index=True)

#noncompliant companies
noncompliant_companies = trips_noncompliant['companyname'].unique()

In [ ]:
# DURATION ANALYSIS BY COMPNAY SUB MIN
(trips_sub1min
 .groupby(['companyname'])
 ['triprecordnum']
 .count()
 .reset_index()
 )

In [ ]:
# DURATION ANALYSIS OVER 24 H
(trips_over24h
 .groupby(['companyname'])
 ['triprecordnum']
 .count()
 .reset_index()
 )

In [ ]:
# DURATION ANALYSIS ALL NONCOMPLIANT
(trips_noncompliant
 .groupby(['companyname'])
 ['triprecordnum']
 .count()
  .reset_index()
 .sort_values('triprecordnum', ascending=False)
 )

In [ ]:
#totals

totaltrips = len(trips.index)
totalsub1min = len(trips_sub1min.index)
totalover24h = len(trips_over24h.index)
totalnoncompliant = totalsub1min + totalover24h
percentagenoncompliant = totalnoncompliant/totaltrips * 100

print('Total number of scooter trips reported: ' + str(totaltrips))
print('Total number of scooter trips with a duration less than one minute: ' + str(totalsub1min))
print('Total number of scooter trips with a duration over 24 hours: ' + str(totalover24h))

print('Total number of noncompliant scooter trips: ' + str(totalnoncompliant))
print('Percentage of noncompliant scooter trips: ' + str(percentagenoncompliant))

print('Companies with noncompliant scooter trip data: ' + str(noncompliant_companies))

Total number of scooter trips reported: 565522
Total number of scooter trips with a duration less than one minute: 12384
Total number of scooter trips with a duration over 24 hours: 61
Total number of noncompliant scooter trips: 12445
Percentage of noncompliant scooter trips: 2.2006217264757164
Companies with noncompliant scooter trip data: ['Bird' 'Lyft' 'Lime' 'Bolt Mobility' 'SPIN' 'JUMP']
A2:
Total number of scooter trips reported: 565522
Total number of scooter trips with a duration less than one minute: 12384
Total number of scooter trips with a duration over 24 hours: 61
Total number of noncompliant scooter trips: 12445
Percentage of noncompliant scooter trips: 2.2006217264757164
Companies with noncompliant scooter trip data: ['Bird' 'Lyft' 'Lime' 'Bolt Mobility' 'SPIN' 'JUMP']

In [ ]:
#pre update check
trips.shape
#Update the trips dataframe to remove any trips under one minute
trips = trips.drop(trips[trips.trip_minutes < 1].index)
#post update check
trips.shape
#Update the trips dataframe to remove any trips over 1440 minutes (24 hours = 1440 minutes)
trips = trips.drop(trips[trips.trip_minutes > 1440].index)
#post update check
trips.shape

In [ ]:
query = '''
SELECT *
FROM scooters
LIMIT 100;
''' 
with engine.connect() as connection:
    scooters = pd.read_sql(text(query), con = connection)

In [ ]:
scooters.shape

In [ ]:
scooters_may.shape

In [ ]:
scooters_june.shape

In [ ]:
scooters_july.shape

In [ ]:
# query = '''
# SELECT *
# FROM trips
# LIMIT 100;
# '''  
# with engine.connect() as connection:
#     trips = pd.read_sql(text(query), con = connection)

In [ ]:
trips.head()

In [ ]:
scooters.isna().any()

In [ ]:
# query = '''
# SELECT *
# FROM scooters
# WHERE chargelevel IS NULL
# '''  
# with engine.connect() as connection:
#     nullValues = pd.read_sql(text(query), con = connection)

In [ ]:
# nullValues.head()

In [ ]:
# nullValues

In [ ]:
query = '''
SELECT
    MAX(pubdatetime) - MIN(pubdatetime) AS range
    FROM scooters;
'''  
with engine.connect() as connection:
    daterangescooters = pd.read_sql(text(query), con = connection)

In [ ]:
daterangescooters.head()

In [ ]:
query = '''
SELECT
    MAX(pubtimestamp) - MIN(pubtimestamp) AS range
    FROM trips;
'''  
with engine.connect() as connection:
    daterangetrips = pd.read_sql(text(query), con = connection)

In [ ]:
daterangetrips.head()

In [ ]:
trips.isna().any()

In [ ]:
scooters['pubdatetime'] = pd.to_datetime(scooters['pubdatetime']) 
date_range = str(scooters['pubdatetime'].dt.date.min()) + ' to ' +str(scooters['pubdatetime'].dt.date.max())
print(date_range)

In [ ]:
trips['pubtimestamp'] = pd.to_datetime(trips['pubtimestamp']) 
date_range = str(trips['pubtimestamp'].dt.date.min()) + ' to ' +str(trips['pubtimestamp'].dt.date.max())
print(date_range)

In [ ]:
min_lat = trips['startlatitude'].min()
max_lat = trips['startlatitude'].max()
min_lon = trips['endlongitude'].min()
max_lon = trips['endlongitude'].max()
print(min_lat)
print(max_lat)
print(min_lon)
print(max_lon)

In [ ]:
merged_jump_scooters = pd.merge(jump, trips, on=['companyname'], how='union')
merged_jump_scooters.head()

In [ ]:
jump['pubdatetime'] = pd.to_datetime(jump['pubdatetime'])#, format = '%Y/%m/%d %I:%M:%S.%f')

In [ ]:
jump.dtypes

In [ ]:
trips['pubtimestamp'] = pd.to_datetime(trips['pubtimestamp'])#, format = '%Y/%m/%d %I:%M:%S.%f')

In [ ]:
trips.dtypes

In [ ]:
(trips.assign(month = trips['pubtimestamp'].dt.month_name())
.month
.value_counts(sort=False)
)

In [ ]:
avg_trips = trips.groupby(['sumdid', 'triprecordnum']).mean()

In [ ]:
avg_trips

In [ ]:
(trips.assign(date = trips['pubtimestamp'].dt.date)
.groupby(['date'])
['triprecordnum']
.count()
.reset_index()
.head(31)
)

In [ ]:
trips.head()

In [ ]:
trips.pubtimestamp = pd.to_datetime(trips.pubtimestamp)
trips.startdate = pd.to_datetime(trips.startdate)
trips.starttime = pd.to_datetime(trips.starttime, format = '%H:%M:%S.%f')
trips.enddate = pd.to_datetime(trips.enddate)
trips.endtime = pd.to_datetime(trips.endtime, format = '%I:%M:%S.%f')

In [ ]:
trips.dtypes

In [ ]:
trips.head()

In [ ]:
trips.groupby('sumdid').size()

In [ ]:
trips["sumdid"].value_counts()

In [ ]:
trips_days = (trips.assign(day = trips['pubtimestamp'].dt.day_name()).day.value_counts(sort = False) )

trips_days

(trips.groupby(pd.Grouper(key = 'pubtimestamp',
freq = '1d',
origin = 'epoch'
)) ['sumdid'].count().reset_index().head(10) )

(trips.assign(day_name = trips['pubtimestamp'].dt.day_name()).groupby('day_name')['sumdid'].nunique())

trips[['companyname', 'sumdid', 'pubtimestamp']].groupby(['companyname'])['sumdid'].nunique().reset_index(name = 'count').sort_values(['count'])

# The goal of Metro Nashville is to have each scooter used a minimum of 3 times per day. Based on the data, what is the average number of trips per scooter per day? Make sure to consider the days that a scooter was available. How does this vary by company?

# The goal of Metro Nashville is to have each scooter used a minimum of 3 times per day. Based on the data, what is the average number of trips per scooter per day? Make sure to consider the days that a scooter was available. How does this vary by company?

In [ ]:
query = '''
SELECT
	DISTINCT sumdid AS Unit,
	startdate AS trip_date,
	COUNT(triprecordnum) AS trips,
	companyname
FROM
	trips
GROUP BY
	sumdid, trip_date, companyname
ORDER BY
	trip_date;
'''  
with engine.connect() as connection:
    trips_per_unit = pd.read_sql(text(query), con = connection)

In [ ]:
trips_per_unit

In [ ]:
avg_trips = trips_per_unit.groupby('unit')['trips'].mean()

In [ ]:
avg_trips.sort_values(ascending=False).reset_index()

In [ ]:
avg_trips_df = pd.DataFrame(avg_trips)

In [ ]:
avg_trips_df.nlargest(5, 'trips')

In [ ]:
avg_trips_df.nlargest(30, 'trips')

In [ ]:
avg_trips_over_3 = avg_trips_df[avg_trips_df['trips'] >= 3].sort_values(by = 'trips', ascending=False)

In [ ]:
avg_trips_over_3

In [ ]:
avg_trips_over_3['usage_group'] = pd.qcut(avg_trips_over_3['trips'],
                            q = 3, labels = ['low', 'medium', 'high'])

In [ ]:
avg_trips_over_3.groupby('usage_group')['trips'].median().reset_index()

In [ ]:
# Create the swarm plot
sns.swarmplot(y=avg_trips_over_3['trips'])

# Customization
plt.title('Scooter usage')  # Set the title
plt.ylabel('uses per day')  # Set the label for the y-axis

plt.show() # Display the chart