In [1]:
#from sqlalchemy import create_engine, text
import pandas as pd

In [2]:
# database_name = 'scooters'    # Fill this in with your lahman database name ##baseball

# connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

In [3]:
# engine = create_engine(connection_string)

In [4]:
#loading in trips dataframe
# trips = '''
# SELECT *
# FROM trips;
# '''

# with engine.connect() as connection:
#     result = connection.execute(text(trips))

In [5]:
# with engine.connect() as connection:
#     all_trips = pd.read_sql(text(trips), con = connection)

# all_trips.head()

In [6]:
#  all_trips.to_csv('trips_df.csv', index=False)

In [7]:
# trips = pd.read_csv('../data/trips_df.csv')
# trips.shape

In [8]:
# all_trips.info()
#no null values in trips table

### loading in scooter data by company

In [9]:
#1 of 7: Bird
# query = '''
# SELECT *
# FROM scooters
# WHERE companyname = 'Bird'
# '''

# with engine.connect() as connection:
#     result = connection.execute(text(query))

In [10]:
# with engine.connect() as connection:
#     bird = pd.read_sql(text(query), con = connection)
    
# bird.head()

In [11]:
# bird.shape

In [12]:
#saving to CSV
# bird.to_csv('bird_scooters.csv', index=False)

In [13]:
#importing Bird CSV
birds = pd.read_csv('../data/bird_scooters.csv')

In [14]:
birds.shape

(12251590, 9)

In [15]:
#2 of 7: Bolt
# query = '''
# SELECT *
# FROM scooters
# WHERE companyname = 'Bolt'
# '''

# with engine.connect() as connection:
#     result = connection.execute(text(query))

In [16]:
# with engine.connect() as connection:
#     bolt = pd.read_sql(text(query), con = connection)
    
# bolt.info()

In [17]:
#saving to CSV
# bolt.to_csv('bolt_scooters.csv', index=False)

In [18]:
#importing Bolt CSV
bolts = pd.read_csv('../data/bolt_scooters.csv')
bolts.shape

(3477198, 9)

In [19]:
# 3 of 7: Gotcha
# query = '''
# SELECT *
# FROM scooters
# WHERE companyname = 'Gotcha'
# '''

# with engine.connect() as connection:
#     result = connection.execute(text(query))

In [20]:
# with engine.connect() as connection:
#     gotcha = pd.read_sql(text(query), con = connection)
    
# gotcha.info()

In [21]:
#saving to CSV
# gotcha.to_csv('gotcha_scooters.csv', index=False)

In [22]:
#importing Gotcha CSV
gotchas = pd.read_csv('../data/gotcha_scooters.csv')
gotchas.shape

(4679280, 9)

In [23]:
#importing Jump CSV
jumps = pd.read_csv('../data/scooters_jump.csv')
jumps.shape

(21835098, 10)

In [24]:
#importing Lime CSV
limes = pd.read_csv('../data/scooters_lime.csv')
limes.shape

(16497732, 9)

In [25]:
#importing Lyft CSV
lyfts = pd.read_csv('../data/scooters_lyft.csv')
lyfts.shape

(9087043, 10)

In [26]:
#importing Spin CSV
spins = pd.read_csv('../data/scooters_spin.csv')
spins.shape

(5559573, 10)

### finding min and max dates for "pubdatetime" column in scooters table

In [27]:
# scoot_range = '''
# SELECT MIN(pubdatetime), MAX(pubdatetime)
# FROM scooters;
# '''

# with engine.connect() as connection:
#     result = connection.execute(text(scoot_range))

In [28]:
#min and max dates for "pubdatetime" column in scooters table
# with engine.connect() as connection:
#     scoot_rangeminmax = pd.read_sql(text(scoot_range), con = connection)

# scoot_rangeminmax

In [29]:
#changing 'pubtimestamp' column to specific datetime format
# with engine.connect() as connection:
#     all_trips = pd.read_sql(text(trips), con = connection)

# #accidents['Date and Time'] = pd.to_datetime(accidents['Date and Time']) 
# # df['date'] = pd.to_datetime(df['date'], format="%Y-%d-%m %H:%M:%S")
# all_trips['pubtimestamp'] = pd.to_datetime(all_trips['pubtimestamp'], format= '%Y-%m-%d %H:%M:%S')
# all_trips.head()

## range for 'pubtimestamp' column in trips table

In [30]:
#min date for "pubdatetime" column in trips table: 5/1/2019
# all_trips['pubtimestamp'].min()

In [31]:
#max date for "pubdatetime" column in trips table: 8/1/2019

    
# all_trips['pubtimestamp'].max()

## range for 'startdate' column in trips table

In [32]:
# all_trips['startdate'].min()

In [33]:
# all_trips['startdate'].max()

## range for enddate column in trips table

In [34]:
# all_trips['enddate'].min()

In [35]:
# all_trips['enddate'].max()

## Is time represented with am/pm or using 24 hour values in each of the columns that include time?

## answer: represented with 24 hour values

## What values are there in the sumdgroup column? Are there any that are not of interest for this project?

In [36]:
# # scoot_range = '''
# # SELECT MIN(pubdatetime), MAX(pubdatetime)
# # FROM scooters;
# # '''

# # with engine.connect() as connection:
# #     result = connection.execute(text(scoot_range))

# sumd = '''
# SELECT DISTINCT(sumdgroup)
# FROM scooters;
# '''

# with engine.connect() as connection:
#      result = connection.execute(text(sumd))

In [37]:
# with engine.connect() as connection:
#     sumdgroup = pd.read_sql(text(sumd), con = connection)

# sumdgroup

## answer: see above - bicycle, and scooter spelled 2 ways. bicycle values are not of interest for this project.

## Q4: Metro would like to know how many scooters are needed, and something that could help with this is knowing peak demand. Estimate the highest count of scooters being used at the same time. When were the highest volume times? Does this vary by zip code or other geographic region?

In [89]:
#reading in trips dataframe

trips = pd.read_csv('../data/tripsnew.csv')
trips.head()

,pubtimestamp,companyname,triprecordnum,sumdid,tripduration,tripdistance,startdate,starttime,enddate,endtime,startlatitude,startlongitude,endlatitude,endlongitude,triproute,create_dt
0,2019-05-01 00:00:55.423,Bird,BRD2134,Powered9EAJL,3.0000,958.00528,2019-05-01,00:00:20.460000,2019-05-01,00:02:52.346666,36.15710,-86.80360,36.15660,-86.80670,"[(36.157235, -86.803612), (36.157235, -86.8036...",2019-05-02 05:30:23.780
1,2019-05-01 00:03:33.147,Lyft,LFT5,Powered296631,1.7156,1371.39112,2019-05-01,00:01:50.090000,2019-05-01,00:03:33.026666,36.15797,-86.77896,36.16054,-86.77689,"[(36.15797, -86.77896), (36.15795, -86.77873),...",2019-05-02 07:20:32.757
2,2019-05-01 00:05:55.570,Bird,BRD2168,Powered7S2UU,3.0000,2296.58800,2019-05-01,00:03:47.363333,2019-05-01,00:07:13.596666,36.15470,-86.78180,36.15650,-86.78680,"[(36.155068, -86.782124), (36.156597, -86.78675)]",2019-05-02 05:30:24.530
3,2019-05-01 00:05:55.570,Bird,BRD2166,PoweredZIIVX,3.0000,1200.78744,2019-05-01,00:04:21.386666,2019-05-01,00:06:59.176666,36.14940,-86.77950,36.15310,-86.77960,"[(36.149741, -86.779344), (36.149741, -86.7793...",2019-05-02 05:30:24.237
4,2019-05-01 00:05:55.570,Bird,BRD2165,PoweredJ7MB3,2.0000,351.04988,2019-05-01,00:04:27.796666,2019-05-01,00:06:23.150000,36.17780,-86.78660,36.17740,-86.78760,"[(36.177699, -86.786477), (36.177711, -86.7864...",2019-05-02 05:30:24.207

In [90]:
#converting columns to datetime & timedelta so they can be combined
trips["startdate"] = pd.to_datetime(trips["startdate"])
trips["starttime"] = pd.to_timedelta(trips["starttime"])

In [92]:
#combining columns
trips["DateTime"] = trips["startdate"] + trips["starttime"]

In [95]:
#converting columns to datetime & timedelta, then combining them
trips["enddate"] = pd.to_datetime(trips["enddate"])
trips["endtime"] = pd.to_timedelta(trips["endtime"])
trips["EndDateTime"] = trips["enddate"] + trips["endtime"]

In [99]:
#renaming column
trips = trips.rename(columns={'DateTime': 'StartDateTime'})

In [100]:
trips.head()

,pubtimestamp,companyname,triprecordnum,sumdid,tripduration,tripdistance,startdate,starttime,enddate,endtime,startlatitude,startlongitude,endlatitude,endlongitude,triproute,create_dt,StartDateTime,EndDateTime
0,2019-05-01 00:00:55.423,Bird,BRD2134,Powered9EAJL,3.0000,958.00528,2019-05-01,0 days 00:00:20.460000,2019-05-01,0 days 00:02:52.346666,36.15710,-86.80360,36.15660,-86.80670,"[(36.157235, -86.803612), (36.157235, -86.8036...",2019-05-02 05:30:23.780,2019-05-01 00:00:20.460000,2019-05-01 00:02:52.346666
1,2019-05-01 00:03:33.147,Lyft,LFT5,Powered296631,1.7156,1371.39112,2019-05-01,0 days 00:01:50.090000,2019-05-01,0 days 00:03:33.026666,36.15797,-86.77896,36.16054,-86.77689,"[(36.15797, -86.77896), (36.15795, -86.77873),...",2019-05-02 07:20:32.757,2019-05-01 00:01:50.090000,2019-05-01 00:03:33.026666
2,2019-05-01 00:05:55.570,Bird,BRD2168,Powered7S2UU,3.0000,2296.58800,2019-05-01,0 days 00:03:47.363333,2019-05-01,0 days 00:07:13.596666,36.15470,-86.78180,36.15650,-86.78680,"[(36.155068, -86.782124), (36.156597, -86.78675)]",2019-05-02 05:30:24.530,2019-05-01 00:03:47.363333,2019-05-01 00:07:13.596666
3,2019-05-01 00:05:55.570,Bird,BRD2166,PoweredZIIVX,3.0000,1200.78744,2019-05-01,0 days 00:04:21.386666,2019-05-01,0 days 00:06:59.176666,36.14940,-86.77950,36.15310,-86.77960,"[(36.149741, -86.779344), (36.149741, -86.7793...",2019-05-02 05:30:24.237,2019-05-01 00:04:21.386666,2019-05-01 00:06:59.176666
4,2019-05-01 00:05:55.570,Bird,BRD2165,PoweredJ7MB3,2.0000,351.04988,2019-05-01,0 days 00:04:27.796666,2019-05-01,0 days 00:06:23.150000,36.17780,-86.78660,36.17740,-86.78760,"[(36.177699, -86.786477), (36.177711, -86.7864...",2019-05-02 05:30:24.207,2019-05-01 00:04:27.796666,2019-05-01 00:06:23.150000

In [101]:
trips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 565522 entries, 0 to 565521
Data columns (total 18 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   pubtimestamp    565522 non-null  object
 1   companyname     565522 non-null  object
 2   triprecordnum   565522 non-null  object
 3   sumdid          565522 non-null  object
 4   tripduration    565522 non-null  float64
 5   tripdistance    565522 non-null  float64
 6   startdate       565522 non-null  datetime64[ns]
 7   starttime       565522 non-null  timedelta64[ns]
 8   enddate         565522 non-null  datetime64[ns]
 9   endtime         565522 non-null  timedelta64[ns]
 10  startlatitude   565522 non-null  float64
 11  startlongitude  565522 non-null  float64
 12  endlatitude     565522 non-null  float64
 13  endlongitude    565522 non-null  float64
 14  triproute       565522 non-null  object
 15  create_dt       565522 non-null  object
 16  StartDateTime   565522 non-null  datetime64[ns]
 17  EndDateTime     565522 non-null  datetime64[ns]
dtypes: datetime64[ns](4), float64(6), object(6), timedelta64[ns](2)
memory usage: 77.7+ MB

In [104]:
#grouping scooter use by date & hour

(trips
 .groupby(pd.Grouper(key = 'StartDateTime',     # point it to your datetime column
                     freq = '1h',               # How much do you want to group together values?
                     origin = 'epoch'           # This will start times at midnight of 1970-01-01. 
                                                # This ensures that we are starting our first grouped period on the hour
                    ))
 ['sumdid']
 .nunique() #shows only unique scooters being used during that time (if scooter is used more than once in an hour)
 .reset_index()
 .head(24)
)

         StartDateTime  sumdid
0  2019-05-01 00:00:00     236
1  2019-05-01 01:00:00     181
2  2019-05-01 02:00:00     166
3  2019-05-01 03:00:00     158
4  2019-05-01 04:00:00      94
5  2019-05-01 05:00:00      47
6  2019-05-01 06:00:00      45
7  2019-05-01 07:00:00      56
8  2019-05-01 08:00:00      82
9  2019-05-01 09:00:00      73
10 2019-05-01 10:00:00     117
11 2019-05-01 11:00:00     156
12 2019-05-01 12:00:00     185
13 2019-05-01 13:00:00     192
14 2019-05-01 14:00:00     219
15 2019-05-01 15:00:00     226
16 2019-05-01 16:00:00     264
17 2019-05-01 17:00:00     314
18 2019-05-01 18:00:00     175
19 2019-05-01 19:00:00     241
20 2019-05-01 20:00:00     249
21 2019-05-01 21:00:00     250
22 2019-05-01 22:00:00     243
23 2019-05-01 23:00:00      53

# find overall busiest date/time (all dates) - sort by values descending
# try with 30 minute increments or less (15 min?)
# make plot

# find most popular times of day (use just starttime column)

# look at zip codes, regions