In [3]:
from sqlalchemy import create_engine, text
import pandas as pd

In [4]:
database_name = 'scooters'    # Fill this in with your lahman database name ##baseball

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

In [5]:
engine = create_engine(connection_string)

In [10]:
#loading in trips dataframe
# trips = '''
# SELECT *
# FROM trips;
# '''

# with engine.connect() as connection:
#     result = connection.execute(text(trips))

In [6]:
# with engine.connect() as connection:
#     all_trips = pd.read_sql(text(trips), con = connection)

all_trips.head()

,pubtimestamp,companyname,triprecordnum,sumdid,tripduration,tripdistance,startdate,starttime,enddate,endtime,startlatitude,startlongitude,endlatitude,endlongitude,triproute,create_dt
0,2019-05-01 00:00:55.423,Bird,BRD2134,Powered9EAJL,3.0000,958.00528,2019-05-01,00:00:20.460000,2019-05-01,00:02:52.346666,36.15710,-86.80360,36.15660,-86.80670,"[(36.157235, -86.803612), (36.157235, -86.8036...",2019-05-02 05:30:23.780
1,2019-05-01 00:03:33.147,Lyft,LFT5,Powered296631,1.7156,1371.39112,2019-05-01,00:01:50.090000,2019-05-01,00:03:33.026666,36.15797,-86.77896,36.16054,-86.77689,"[(36.15797, -86.77896), (36.15795, -86.77873),...",2019-05-02 07:20:32.757
2,2019-05-01 00:05:55.570,Bird,BRD2168,Powered7S2UU,3.0000,2296.58800,2019-05-01,00:03:47.363333,2019-05-01,00:07:13.596666,36.15470,-86.78180,36.15650,-86.78680,"[(36.155068, -86.782124), (36.156597, -86.78675)]",2019-05-02 05:30:24.530
3,2019-05-01 00:05:55.570,Bird,BRD2166,PoweredZIIVX,3.0000,1200.78744,2019-05-01,00:04:21.386666,2019-05-01,00:06:59.176666,36.14940,-86.77950,36.15310,-86.77960,"[(36.149741, -86.779344), (36.149741, -86.7793...",2019-05-02 05:30:24.237
4,2019-05-01 00:05:55.570,Bird,BRD2165,PoweredJ7MB3,2.0000,351.04988,2019-05-01,00:04:27.796666,2019-05-01,00:06:23.150000,36.17780,-86.78660,36.17740,-86.78760,"[(36.177699, -86.786477), (36.177711, -86.7864...",2019-05-02 05:30:24.207

In [27]:
 all_trips.to_csv('trips_df.csv', index=False)

In [7]:
all_trips.info()
#no null values in trips table

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 565522 entries, 0 to 565521
Data columns (total 16 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   pubtimestamp    565522 non-null  datetime64[ns]
 1   companyname     565522 non-null  object
 2   triprecordnum   565522 non-null  object
 3   sumdid          565522 non-null  object
 4   tripduration    565522 non-null  float64
 5   tripdistance    565522 non-null  float64
 6   startdate       565522 non-null  object
 7   starttime       565522 non-null  object
 8   enddate         565522 non-null  object
 9   endtime         565522 non-null  object
 10  startlatitude   565522 non-null  float64
 11  startlongitude  565522 non-null  float64
 12  endlatitude     565522 non-null  float64
 13  endlongitude    565522 non-null  float64
 14  triproute       565522 non-null  object
 15  create_dt       565522 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(6), object(8)
memory usage: 69.0+ MB

In [8]:
# scoot = '''
# SELECT *
# FROM scooters;
# '''

# with engine.connect() as connection:
#     result = connection.execute(text(scoot))

In [6]:
scoot_range = '''
SELECT MIN(pubdatetime), MAX(pubdatetime)
FROM scooters;
'''

with engine.connect() as connection:
    result = connection.execute(text(scoot_range))

In [7]:
#min and max dates for "pubdatetime" column in scooters table
with engine.connect() as connection:
    scoot_rangeminmax = pd.read_sql(text(scoot_range), con = connection)

scoot_rangeminmax

                      min                 max
0 2019-05-01 00:01:41.247 2019-07-31 23:59:57

In [15]:
#changing 'pubtimestamp' column to specific datetime format
with engine.connect() as connection:
    all_trips = pd.read_sql(text(trips), con = connection)

#accidents['Date and Time'] = pd.to_datetime(accidents['Date and Time']) 
# df['date'] = pd.to_datetime(df['date'], format="%Y-%d-%m %H:%M:%S")
all_trips['pubtimestamp'] = pd.to_datetime(all_trips['pubtimestamp'], format= '%Y-%m-%d %H:%M:%S')
all_trips.head()

,pubtimestamp,companyname,triprecordnum,sumdid,tripduration,tripdistance,startdate,starttime,enddate,endtime,startlatitude,startlongitude,endlatitude,endlongitude,triproute,create_dt
0,2019-05-01 00:00:55.423,Bird,BRD2134,Powered9EAJL,3.0000,958.00528,2019-05-01,00:00:20.460000,2019-05-01,00:02:52.346666,36.15710,-86.80360,36.15660,-86.80670,"[(36.157235, -86.803612), (36.157235, -86.8036...",2019-05-02 05:30:23.780
1,2019-05-01 00:03:33.147,Lyft,LFT5,Powered296631,1.7156,1371.39112,2019-05-01,00:01:50.090000,2019-05-01,00:03:33.026666,36.15797,-86.77896,36.16054,-86.77689,"[(36.15797, -86.77896), (36.15795, -86.77873),...",2019-05-02 07:20:32.757
2,2019-05-01 00:05:55.570,Bird,BRD2168,Powered7S2UU,3.0000,2296.58800,2019-05-01,00:03:47.363333,2019-05-01,00:07:13.596666,36.15470,-86.78180,36.15650,-86.78680,"[(36.155068, -86.782124), (36.156597, -86.78675)]",2019-05-02 05:30:24.530
3,2019-05-01 00:05:55.570,Bird,BRD2166,PoweredZIIVX,3.0000,1200.78744,2019-05-01,00:04:21.386666,2019-05-01,00:06:59.176666,36.14940,-86.77950,36.15310,-86.77960,"[(36.149741, -86.779344), (36.149741, -86.7793...",2019-05-02 05:30:24.237
4,2019-05-01 00:05:55.570,Bird,BRD2165,PoweredJ7MB3,2.0000,351.04988,2019-05-01,00:04:27.796666,2019-05-01,00:06:23.150000,36.17780,-86.78660,36.17740,-86.78760,"[(36.177699, -86.786477), (36.177711, -86.7864...",2019-05-02 05:30:24.207

## range for 'pubtimestamp' column in trips table

In [19]:
#min date for "pubdatetime" column in trips table: 5/1/2019
all_trips['pubtimestamp'].min()

Timestamp('2019-05-01 00:00:55.423000')

In [18]:
#max date for "pubdatetime" column in trips table: 8/1/2019

    
all_trips['pubtimestamp'].max()

Timestamp('2019-08-01 07:04:00')

## range for 'startdate' column in trips table

In [20]:
all_trips['startdate'].min()

datetime.date(2019, 5, 1)

In [21]:
all_trips['startdate'].max()

datetime.date(2019, 7, 31)

## range for enddate column in trips table

In [23]:
all_trips['enddate'].min()

datetime.date(2019, 5, 1)

In [24]:
all_trips['enddate'].max()

datetime.date(2019, 8, 1)

## Is time represented with am/pm or using 24 hour values in each of the columns that include time?

## answer: represented with 24 hour values

## What values are there in the sumdgroup column? Are there any that are not of interest for this project?

In [25]:
# scoot_range = '''
# SELECT MIN(pubdatetime), MAX(pubdatetime)
# FROM scooters;
# '''

# with engine.connect() as connection:
#     result = connection.execute(text(scoot_range))

sumd = '''
SELECT DISTINCT(sumdgroup)
FROM scooters;
'''

with engine.connect() as connection:
     result = connection.execute(text(sumd))

In [26]:
with engine.connect() as connection:
    sumdgroup = pd.read_sql(text(sumd), con = connection)

sumdgroup

  sumdgroup
0   bicycle
1   scooter
2   Scooter

## answer: see above - bicycle, and scooter spelled 2 ways. bicycle values are not of interest for this project.

## What are the minimum and maximum values for all the latitude and longitude columns? Do these ranges make sense, or is there anything surprising?