In [2]:
from sqlalchemy import create_engine, text
import pandas as pd

In [4]:
database_name = 'scooters'    # Fill this in with your lahman database name ##baseball

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

In [5]:
engine = create_engine(connection_string)

In [10]:
#loading in trips dataframe
# trips = '''
# SELECT *
# FROM trips;
# '''

# with engine.connect() as connection:
#     result = connection.execute(text(trips))

In [6]:
# with engine.connect() as connection:
#     all_trips = pd.read_sql(text(trips), con = connection)

all_trips.head()

,pubtimestamp,companyname,triprecordnum,sumdid,tripduration,tripdistance,startdate,starttime,enddate,endtime,startlatitude,startlongitude,endlatitude,endlongitude,triproute,create_dt
0,2019-05-01 00:00:55.423,Bird,BRD2134,Powered9EAJL,3.0000,958.00528,2019-05-01,00:00:20.460000,2019-05-01,00:02:52.346666,36.15710,-86.80360,36.15660,-86.80670,"[(36.157235, -86.803612), (36.157235, -86.8036...",2019-05-02 05:30:23.780
1,2019-05-01 00:03:33.147,Lyft,LFT5,Powered296631,1.7156,1371.39112,2019-05-01,00:01:50.090000,2019-05-01,00:03:33.026666,36.15797,-86.77896,36.16054,-86.77689,"[(36.15797, -86.77896), (36.15795, -86.77873),...",2019-05-02 07:20:32.757
2,2019-05-01 00:05:55.570,Bird,BRD2168,Powered7S2UU,3.0000,2296.58800,2019-05-01,00:03:47.363333,2019-05-01,00:07:13.596666,36.15470,-86.78180,36.15650,-86.78680,"[(36.155068, -86.782124), (36.156597, -86.78675)]",2019-05-02 05:30:24.530
3,2019-05-01 00:05:55.570,Bird,BRD2166,PoweredZIIVX,3.0000,1200.78744,2019-05-01,00:04:21.386666,2019-05-01,00:06:59.176666,36.14940,-86.77950,36.15310,-86.77960,"[(36.149741, -86.779344), (36.149741, -86.7793...",2019-05-02 05:30:24.237
4,2019-05-01 00:05:55.570,Bird,BRD2165,PoweredJ7MB3,2.0000,351.04988,2019-05-01,00:04:27.796666,2019-05-01,00:06:23.150000,36.17780,-86.78660,36.17740,-86.78760,"[(36.177699, -86.786477), (36.177711, -86.7864...",2019-05-02 05:30:24.207

In [27]:
 all_trips.to_csv('trips_df.csv', index=False)

In [9]:
trips = pd.read_csv('../data/trips_df.csv')
trips.shape

(565522, 16)

In [7]:
all_trips.info()
#no null values in trips table

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 565522 entries, 0 to 565521
Data columns (total 16 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   pubtimestamp    565522 non-null  datetime64[ns]
 1   companyname     565522 non-null  object
 2   triprecordnum   565522 non-null  object
 3   sumdid          565522 non-null  object
 4   tripduration    565522 non-null  float64
 5   tripdistance    565522 non-null  float64
 6   startdate       565522 non-null  object
 7   starttime       565522 non-null  object
 8   enddate         565522 non-null  object
 9   endtime         565522 non-null  object
 10  startlatitude   565522 non-null  float64
 11  startlongitude  565522 non-null  float64
 12  endlatitude     565522 non-null  float64
 13  endlongitude    565522 non-null  float64
 14  triproute       565522 non-null  object
 15  create_dt       565522 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(6), object(8)
memory usage: 69.0+ MB

### loading in scooter data by company

In [29]:
#1 of 7: Bird
# query = '''
# SELECT *
# FROM scooters
# WHERE companyname = 'Bird'
# '''

# with engine.connect() as connection:
#     result = connection.execute(text(query))

In [30]:
# with engine.connect() as connection:
#     bird = pd.read_sql(text(query), con = connection)
    
# bird.head()

,pubdatetime,latitude,longitude,sumdid,sumdtype,chargelevel,sumdgroup,costpermin,companyname
0,2019-06-11 18:35:08.743,36.147275,-86.818551,Powered4EYMH,Powered,100.0,scooter,0.15,Bird
1,2019-06-11 18:35:08.743,36.156990,-86.769679,PoweredD9I5T,Powered,100.0,scooter,0.15,Bird
2,2019-06-11 18:35:08.743,36.141365,-86.797570,Powered2SMKT,Powered,89.0,scooter,0.15,Bird
3,2019-06-11 18:35:08.743,36.142901,-86.802821,PoweredMXDZR,Powered,88.0,scooter,0.15,Bird
4,2019-06-11 18:35:08.743,36.159255,-86.780911,PoweredM5JZK,Powered,75.0,scooter,0.15,Bird

In [31]:
# bird.shape

(12251590, 9)

In [32]:
#saving to CSV
# bird.to_csv('bird_scooters.csv', index=False)

In [33]:
#importing Bird CSV
birds = pd.read_csv('../data/bird_scooters.csv')

In [34]:
birds.shape

(12251590, 9)

In [35]:
#2 of 7: Bolt
# query = '''
# SELECT *
# FROM scooters
# WHERE companyname = 'Bolt'
# '''

# with engine.connect() as connection:
#     result = connection.execute(text(query))

In [36]:
# with engine.connect() as connection:
#     bolt = pd.read_sql(text(query), con = connection)
    
# bolt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3477198 entries, 0 to 3477197
Data columns (total 9 columns):
 #   Column       Dtype
---  ------       -----
 0   pubdatetime  datetime64[ns]
 1   latitude     float64
 2   longitude    float64
 3   sumdid       object
 4   sumdtype     object
 5   chargelevel  float64
 6   sumdgroup    object
 7   costpermin   float64
 8   companyname  object
dtypes: datetime64[ns](1), float64(4), object(4)
memory usage: 238.8+ MB

In [37]:
#saving to CSV
# bolt.to_csv('bolt_scooters.csv', index=False)

In [38]:
#importing Bolt CSV
bolts = pd.read_csv('../data/bolt_scooters.csv')
bolts.shape

(3477198, 9)

In [39]:
# 3 of 7: Gotcha
# query = '''
# SELECT *
# FROM scooters
# WHERE companyname = 'Gotcha'
# '''

# with engine.connect() as connection:
#     result = connection.execute(text(query))

In [40]:
# with engine.connect() as connection:
#     gotcha = pd.read_sql(text(query), con = connection)
    
# gotcha.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4679280 entries, 0 to 4679279
Data columns (total 9 columns):
 #   Column       Dtype
---  ------       -----
 0   pubdatetime  datetime64[ns]
 1   latitude     float64
 2   longitude    float64
 3   sumdid       object
 4   sumdtype     object
 5   chargelevel  float64
 6   sumdgroup    object
 7   costpermin   float64
 8   companyname  object
dtypes: datetime64[ns](1), float64(4), object(4)
memory usage: 321.3+ MB

In [41]:
#saving to CSV
gotcha.to_csv('gotcha_scooters.csv', index=False)

In [42]:
#importing Gotcha CSV
gotchas = pd.read_csv('../data/gotcha_scooters.csv')
gotchas.shape

(4679280, 9)

In [3]:
#importing Jump CSV
jumps = pd.read_csv('../data/scooters_jump.csv')
jumps.shape

(21835098, 10)

In [4]:
#importing Lime CSV
limes = pd.read_csv('../data/scooters_lime.csv')
limes.shape

(16524261, 10)

In [5]:
#importing Lyft CSV
lyfts = pd.read_csv('../data/scooters_lyft.csv')
lyfts.shape

(9087043, 10)

In [6]:
#importing Spin CSV
spins = pd.read_csv('../data/scooters_spin.csv')
spins.shape

(5559573, 10)

### finding min and max dates for "pubdatetime" column in scooters table

In [6]:
scoot_range = '''
SELECT MIN(pubdatetime), MAX(pubdatetime)
FROM scooters;
'''

with engine.connect() as connection:
    result = connection.execute(text(scoot_range))

In [7]:
#min and max dates for "pubdatetime" column in scooters table
with engine.connect() as connection:
    scoot_rangeminmax = pd.read_sql(text(scoot_range), con = connection)

scoot_rangeminmax

                      min                 max
0 2019-05-01 00:01:41.247 2019-07-31 23:59:57

In [15]:
#changing 'pubtimestamp' column to specific datetime format
with engine.connect() as connection:
    all_trips = pd.read_sql(text(trips), con = connection)

#accidents['Date and Time'] = pd.to_datetime(accidents['Date and Time']) 
# df['date'] = pd.to_datetime(df['date'], format="%Y-%d-%m %H:%M:%S")
all_trips['pubtimestamp'] = pd.to_datetime(all_trips['pubtimestamp'], format= '%Y-%m-%d %H:%M:%S')
all_trips.head()

,pubtimestamp,companyname,triprecordnum,sumdid,tripduration,tripdistance,startdate,starttime,enddate,endtime,startlatitude,startlongitude,endlatitude,endlongitude,triproute,create_dt
0,2019-05-01 00:00:55.423,Bird,BRD2134,Powered9EAJL,3.0000,958.00528,2019-05-01,00:00:20.460000,2019-05-01,00:02:52.346666,36.15710,-86.80360,36.15660,-86.80670,"[(36.157235, -86.803612), (36.157235, -86.8036...",2019-05-02 05:30:23.780
1,2019-05-01 00:03:33.147,Lyft,LFT5,Powered296631,1.7156,1371.39112,2019-05-01,00:01:50.090000,2019-05-01,00:03:33.026666,36.15797,-86.77896,36.16054,-86.77689,"[(36.15797, -86.77896), (36.15795, -86.77873),...",2019-05-02 07:20:32.757
2,2019-05-01 00:05:55.570,Bird,BRD2168,Powered7S2UU,3.0000,2296.58800,2019-05-01,00:03:47.363333,2019-05-01,00:07:13.596666,36.15470,-86.78180,36.15650,-86.78680,"[(36.155068, -86.782124), (36.156597, -86.78675)]",2019-05-02 05:30:24.530
3,2019-05-01 00:05:55.570,Bird,BRD2166,PoweredZIIVX,3.0000,1200.78744,2019-05-01,00:04:21.386666,2019-05-01,00:06:59.176666,36.14940,-86.77950,36.15310,-86.77960,"[(36.149741, -86.779344), (36.149741, -86.7793...",2019-05-02 05:30:24.237
4,2019-05-01 00:05:55.570,Bird,BRD2165,PoweredJ7MB3,2.0000,351.04988,2019-05-01,00:04:27.796666,2019-05-01,00:06:23.150000,36.17780,-86.78660,36.17740,-86.78760,"[(36.177699, -86.786477), (36.177711, -86.7864...",2019-05-02 05:30:24.207

## range for 'pubtimestamp' column in trips table

In [19]:
#min date for "pubdatetime" column in trips table: 5/1/2019
all_trips['pubtimestamp'].min()

Timestamp('2019-05-01 00:00:55.423000')

In [18]:
#max date for "pubdatetime" column in trips table: 8/1/2019

    
all_trips['pubtimestamp'].max()

Timestamp('2019-08-01 07:04:00')

## range for 'startdate' column in trips table

In [20]:
all_trips['startdate'].min()

datetime.date(2019, 5, 1)

In [21]:
all_trips['startdate'].max()

datetime.date(2019, 7, 31)

## range for enddate column in trips table

In [23]:
all_trips['enddate'].min()

datetime.date(2019, 5, 1)

In [24]:
all_trips['enddate'].max()

datetime.date(2019, 8, 1)

## Is time represented with am/pm or using 24 hour values in each of the columns that include time?

## answer: represented with 24 hour values

## What values are there in the sumdgroup column? Are there any that are not of interest for this project?

In [25]:
# scoot_range = '''
# SELECT MIN(pubdatetime), MAX(pubdatetime)
# FROM scooters;
# '''

# with engine.connect() as connection:
#     result = connection.execute(text(scoot_range))

sumd = '''
SELECT DISTINCT(sumdgroup)
FROM scooters;
'''

with engine.connect() as connection:
     result = connection.execute(text(sumd))

In [26]:
with engine.connect() as connection:
    sumdgroup = pd.read_sql(text(sumd), con = connection)

sumdgroup

  sumdgroup
0   bicycle
1   scooter
2   Scooter

## answer: see above - bicycle, and scooter spelled 2 ways. bicycle values are not of interest for this project.

In [28]:
#reading in trips dataframe

trips = pd.read_csv('../data/trips_df.csv')
trips.head()

,pubtimestamp,companyname,triprecordnum,sumdid,tripduration,tripdistance,startdate,starttime,enddate,endtime,startlatitude,startlongitude,endlatitude,endlongitude,triproute,create_dt
0,2019-05-01 00:00:55.423,Bird,BRD2134,Powered9EAJL,3.0000,958.00528,2019-05-01,00:00:20.460000,2019-05-01,00:02:52.346666,36.15710,-86.80360,36.15660,-86.80670,"[(36.157235, -86.803612), (36.157235, -86.8036...",2019-05-02 05:30:23.780
1,2019-05-01 00:03:33.147,Lyft,LFT5,Powered296631,1.7156,1371.39112,2019-05-01,00:01:50.090000,2019-05-01,00:03:33.026666,36.15797,-86.77896,36.16054,-86.77689,"[(36.15797, -86.77896), (36.15795, -86.77873),...",2019-05-02 07:20:32.757
2,2019-05-01 00:05:55.570,Bird,BRD2168,Powered7S2UU,3.0000,2296.58800,2019-05-01,00:03:47.363333,2019-05-01,00:07:13.596666,36.15470,-86.78180,36.15650,-86.78680,"[(36.155068, -86.782124), (36.156597, -86.78675)]",2019-05-02 05:30:24.530
3,2019-05-01 00:05:55.570,Bird,BRD2166,PoweredZIIVX,3.0000,1200.78744,2019-05-01,00:04:21.386666,2019-05-01,00:06:59.176666,36.14940,-86.77950,36.15310,-86.77960,"[(36.149741, -86.779344), (36.149741, -86.7793...",2019-05-02 05:30:24.237
4,2019-05-01 00:05:55.570,Bird,BRD2165,PoweredJ7MB3,2.0000,351.04988,2019-05-01,00:04:27.796666,2019-05-01,00:06:23.150000,36.17780,-86.78660,36.17740,-86.78760,"[(36.177699, -86.786477), (36.177711, -86.7864...",2019-05-02 05:30:24.207

## Q4: Metro would like to know how many scooters are needed, and something that could help with this is knowing peak demand. Estimate the highest count of scooters being used at the same time. When were the highest volume times? Does this vary by zip code or other geographic region?

In [7]:
lyfts.head()

,Unnamed: 0,pubdatetime,latitude,longitude,sumdid,sumdtype,chargelevel,sumdgroup,costpermin,companyname
0,0,2019-05-01 00:02:25.383,36.149945,-86.814499,Powered416613,Powered,49.0,scooter,0.0,Lyft
1,1,2019-05-01 00:02:34.753,36.146887,-86.793057,Powered912425,Powered,96.0,scooter,0.0,Lyft
2,2,2019-05-01 00:02:48.740,36.163957,-86.769401,Powered741856,Powered,82.0,scooter,0.0,Lyft
3,3,2019-05-01 00:02:59.247,36.149762,-86.800572,Powered685723,Powered,88.0,scooter,0.0,Lyft
4,4,2019-05-01 00:02:59.543,36.156333,-86.775500,Powered974794,Powered,88.0,scooter,0.0,Lyft

In [12]:
trips.head()

,pubtimestamp,companyname,triprecordnum,sumdid,tripduration,tripdistance,startdate,starttime,enddate,endtime,startlatitude,startlongitude,endlatitude,endlongitude,triproute,create_dt
0,2019-05-01 00:00:55.423,Bird,BRD2134,Powered9EAJL,3.0000,958.00528,2019-05-01,00:00:20.460000,2019-05-01,00:02:52.346666,36.15710,-86.80360,36.15660,-86.80670,"[(36.157235, -86.803612), (36.157235, -86.8036...",2019-05-02 05:30:23.780
1,2019-05-01 00:03:33.147,Lyft,LFT5,Powered296631,1.7156,1371.39112,2019-05-01,00:01:50.090000,2019-05-01,00:03:33.026666,36.15797,-86.77896,36.16054,-86.77689,"[(36.15797, -86.77896), (36.15795, -86.77873),...",2019-05-02 07:20:32.757
2,2019-05-01 00:05:55.570,Bird,BRD2168,Powered7S2UU,3.0000,2296.58800,2019-05-01,00:03:47.363333,2019-05-01,00:07:13.596666,36.15470,-86.78180,36.15650,-86.78680,"[(36.155068, -86.782124), (36.156597, -86.78675)]",2019-05-02 05:30:24.530
3,2019-05-01 00:05:55.570,Bird,BRD2166,PoweredZIIVX,3.0000,1200.78744,2019-05-01,00:04:21.386666,2019-05-01,00:06:59.176666,36.14940,-86.77950,36.15310,-86.77960,"[(36.149741, -86.779344), (36.149741, -86.7793...",2019-05-02 05:30:24.237
4,2019-05-01 00:05:55.570,Bird,BRD2165,PoweredJ7MB3,2.0000,351.04988,2019-05-01,00:04:27.796666,2019-05-01,00:06:23.150000,36.17780,-86.78660,36.17740,-86.78760,"[(36.177699, -86.786477), (36.177711, -86.7864...",2019-05-02 05:30:24.207

In [17]:
#tripdur.pubtimestamp = pd.to_datetime(tripdur.pubtimestamp)
# tripdur.startdate = pd.to_datetime(tripdur.startdate)
# tripdur.starttime = pd.to_datetime(tripdur.starttime, format = '%I:%M:%S.%f')
# tripdur.enddate = pd.to_datetime(tripdur.enddate)
# tripdur.endtime = pd.to_datetime(tripdur.endtime, format = '%I:%M:%S.%f')

trips.pubtimestamp = pd.to_datetime(trips.pubtimestamp)
trips.startdate = pd.to_datetime(trips.startdate)
trips.starttime = pd.to_datetime(trips.starttime, format = 'mixed') 
trips.enddate = pd.to_datetime(trips.enddate)
trips.endtime = pd.to_datetime(trips.endtime, format = 'mixed')

In [18]:
trips.info()
#need to convert pubtimestamp, startdate,  starttime, enddate, endtime

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 565522 entries, 0 to 565521
Data columns (total 16 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   pubtimestamp    565522 non-null  datetime64[ns]
 1   companyname     565522 non-null  object
 2   triprecordnum   565522 non-null  object
 3   sumdid          565522 non-null  object
 4   tripduration    565522 non-null  float64
 5   tripdistance    565522 non-null  float64
 6   startdate       565522 non-null  datetime64[ns]
 7   starttime       565522 non-null  datetime64[ns]
 8   enddate         565522 non-null  datetime64[ns]
 9   endtime         565522 non-null  datetime64[ns]
 10  startlatitude   565522 non-null  float64
 11  startlongitude  565522 non-null  float64
 12  endlatitude     565522 non-null  float64
 13  endlongitude    565522 non-null  float64
 14  triproute       565522 non-null  object
 15  create_dt       565522 non-null  object
dtypes: datetime64[ns](5), float64(6), object(5)
memory usage: 69.0+ MB